[Desktop Entry]
Icon=text-html
Name=https://store.kde.org/browse/cat/104/order/latest/
Type=Link
URL[$e]=https://store.kde.org/browse/cat/104/order/latest/
