[Desktop Entry]
Name=GlassWhite-Kv
Comment=Kwin Aurorae theme for style KvGlassWhite

X-KDE-PluginInfo-Author=Victor Calles
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
